version: '3.8'

services:
  db-mysql:
    container_name: mysql-database
    image: mysql:latest
    restart: no
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_USER": "${MYSQL_USER}"
      MYSQL_PASSWORD": "${MYSQL_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.10
    container_name: elasticsearch-database
    environment:
      discovery.type: 'single-node'
      xpack.security.enabled: 'false'
      ELASTIC_PASSWORD: ${ELASTICSEARCH_PASSWORD}
      ES_JAVA_OPTS: '-Xmx2g -Xms2g'
      http.cors.enabled: 'true'
      http.cors.allow-origin: '*'
      http.cors.allow-methods: 'OPTIONS, HEAD, GET, POST, PUT, DELETE'
      http.cors.allow-headers: 'X-Requested-With, Content-Type, Content-Length, Authorization'
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
  kibana:
    image: docker.elastic.co/kibana/kibana:8.17.10
    container_name: kibana-dashboard
    environment:
      ELASTICSEARCH_HOSTS: ${ELASTICSEARCH_HOSTS}
      ELASTICSEARCH_USERNAME: ${ELASTICSEARCH_USERNAME}
      ELASTICSEARCH_PASSWORD: ${ELASTICSEARCH_PASSWORD}
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

volumes:
  mysql_data:
  elasticsearch_data: